.feedRight{
    height: 700px;
    width: 100%;
    margin-left: 300px;
    background-color: white;
}
.headeing h1{
    color: black;
}

.feedRight2{
    height: 700px;
    width: 100%;
    margin-left: 300px;
    background-color: rgb(80, 0, 0);
}


